tqdm==4.66.5
numpy==2.1.1
torch==2.4.1
torchvision==0.19.1
pillow==10.4.0
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
pathlib==1.0.1
tifffile==2024.8.30
imagecodecs==2024.6.1
albumentations==1.4.15
online-triplet-loss==0.0.6
einops==0.8.0
crfseg==1.0.0
pytorch-lightning==2.4.0
PyYAML==6.0.2
torchmetrics==1.4.2
prettytable==3.11.0
